Repository pbark/qiskit-aqua, changes with the owners that .github/CODEOWNERS names for each.
All owners: @levbishop, @manoelmarques, @woodsp-ibm, @stefan-woerner, @pbark

.github/CODEOWNERS:

# This file defines the persons who will be assigned as reviewers for PRs that
# modify particular files in the repo. The PR can be merged when approved by at
# least one codeowner. However, all Qiskit team members can (and should!) review the PRs.

# Global rule, unless specialized by a later one
* @levbishop @manoelmarques @woodsp-ibm

# Code owners of domains below own all release notes
/releasenotes/        @stefan-woerner @pbark @manoelmarques @woodsp-ibm

# Qiskit folders (also their corresponding tests)
chemistry/            @pbark @manoelmarques @woodsp-ibm
finance/              @stefan-woerner @manoelmarques @woodsp-ibm
ml/                   @stefan-woerner @manoelmarques @woodsp-ibm
optimization/         @stefan-woerner @manoelmarques @woodsp-ibm

Make tsp_get_solution () to output infeasible answers as well (#1236)
  qiskit/optimization/applications/ising/tsp.py
  test/optimization/test_tsp.py
Owners: @stefan-woerner, @manoelmarques, @woodsp-ibm

Adds OperatorBase support in aux_operators setters (#1022)
  qiskit/aqua/algorithms/eigen_solvers/numpy_eigen_solver.py
  qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm

Use Operator rather than unitary simulator to convert circuit to unitary matrix (#1224)
  qiskit/aqua/operators/primitive_ops/circuit_op.py
  qiskit/aqua/operators/primitive_ops/pauli_op.py
  releasenotes/notes/pauli-expi-c0c97395190622c0.yaml
  test/aqua/operators/test_evolution.py
  test/aqua/operators/test_op_construction.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @stefan-woerner, @pbark

Change Github Actions to run Aqua tutorials (#1220)
  .github/workflows/main.yml
Owners: @levbishop, @manoelmarques, @woodsp-ibm

Refactor QAE using the Grover operator (#1234)
  .pylintdict
  .pylintrc
  qiskit/aqua/algorithms/amplitude_estimators/ae.py
  qiskit/aqua/algorithms/amplitude_estimators/ae_algorithm.py
  qiskit/aqua/algorithms/amplitude_estimators/iqae.py
  qiskit/aqua/algorithms/amplitude_estimators/mlae.py
  qiskit/aqua/circuits/phase_estimation_circuit.py
  releasenotes/notes/ae-on-circuit-ea1d914f91c571d2.yaml
  test/aqua/test_amplitude_estimation.py
  test/aqua/test_amplitude_estimation_circuitfactory.py
  test/finance/test_amplitude_estimation.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @stefan-woerner, @pbark

update email (#1251)
  setup.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm

fix #1249 (#1250)
  README.md
Owners: @levbishop, @manoelmarques, @woodsp-ibm

Fix num oracle queries in QAE (#1242)
  qiskit/aqua/algorithms/amplitude_estimators/ae.py
  releasenotes/notes/ae-num-oracle-queries-a14bd74321768de3.yaml
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @stefan-woerner, @pbark

backbone for eom calculation
  qiskit/chemistry/algorithms/eigen_solvers/q_equation_of_motion_backbone.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

Add some notes in the QEOM backbone template
  qiskit/chemistry/algorithms/eigen_solvers/q_equation_of_motion_backbone.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

fix lint on molecule class
  qiskit/chemistry/molecule.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

updates to molecule class
  qiskit/chemistry/molecule.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

BOPES Sampler working - bootstrap goes 2 steps back
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/energy_surface_spline.py
  qiskit/chemistry/extrapolator.py
  qiskit/chemistry/potential_base.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

bootstrap not working yet
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

bootstrapping not working
  bopes_testing.ipynb
  qiskit/chemistry/bopes_sampler.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

bootstrap not working -- added comments
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

bopes sampler working with only bootstrapping
  bopes_testing.ipynb
  gsc_testing.py
  qiskit/chemistry/bopes_sampler.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

bootstrapping test works
  bopes_testing.ipynb
Owners: @levbishop, @manoelmarques, @woodsp-ibm

added comments for bootstrapping
  bopes_testing.ipynb
  qiskit/chemistry/bopes_sampler.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

changes in bopes for surface
  bopes_testing.ipynb
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/energy_surface_spline.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

fixed fit_data in bopes, need to clean up code for results
  bopes_testing.ipynb
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/energy_surface_spline.py
  qiskit/chemistry/potential_base.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

added demo notebook for extrapolators
  bopes_testing.ipynb
  extrapolation_variational_parameters_demo.ipynb
  qiskit/chemistry/bopes_sampler.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

modified demo notebook
  extrapolation_variational_parameters_demo.ipynb
Owners: @levbishop, @manoelmarques, @woodsp-ibm

fixed factory kwargs implementation
  extrapolation_variational_parameters_demo.ipynb
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/extrapolator.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

linting, style, mypy
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/extrapolator.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

introduce bopes sampler result
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

added bopes sampler test and morse potential surface
  qiskit/chemistry/morse_potential.py
  test/chemistry/test_bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

clean up
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

clean up
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

clean up
  test/chemistry/test_bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

added constants.py
  qiskit/chemistry/constants.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

morse potential added
  qiskit/chemistry/constants.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

minor changes
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

linting, style
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/energy_surface_spline.py
  qiskit/chemistry/extrapolator.py
  qiskit/chemistry/potential_base.py
  test/chemistry/test_bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

tests for extrapolators
  test/chemistry/test_extrapolators.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

more on linting
  qiskit/chemistry/bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm

bopes sampler result moved to chemistry results
  bopes_testing.ipynb
  extrapolation_variational_parameters_demo.ipynb
  qiskit/chemistry/bopes_sampler.py
  qiskit/chemistry/results/__init__.py
  qiskit/chemistry/results/bopes_sampler_result.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

fix bopes result to be only in chemistry/results + minor modifications
  bopes_testing.ipynb
  extrapolation_variational_parameters_demo.ipynb
  qiskit/chemistry/bopes_sampler.py
  test/chemistry/test_driver_methods_gsc.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

move driver to compute surface
  bopes_testing.ipynb
  qiskit/chemistry/bopes_sampler.py
Owners: @levbishop, @manoelmarques, @woodsp-ibm, @pbark

test fix
  test/chemistry/test_bopes_sampler.py
Owners: @pbark, @manoelmarques, @woodsp-ibm
